/* utility class */
.display-none {
    display: none;
}
.body-padding {
    padding: 0.5em 0.6em;
}
.margin-bottom {
    margin-bottom: 3em;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 4.6em;
    width: 100%;
    justify-content: space-around;
    padding: 1.6em 1.2em;
    background: url("images/Mobile-App-Hero-BG.webp") no-repeat center; 
    background-size: 100%;
    background-position-y: top;
}
.logo img {
    width: 6.5em;
}
.menu {
    font-size: 2em;
}
body {
    background: linear-gradient(to bottom, #F1F8FE, #F6FBFF);
    overflow-x: hidden;
}
section {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.t-margin {
    margin-top: 1.2em;
    background: linear-gradient(to bottom, #F1F8FE, #FDFEFF);
}
.center {
    padding: 3em 0em;
}
.line span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #079EEB;
    padding: 1px 1px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 0.75em;
    font-weight: 600;
    margin: 0 42%;
}
.line h4{
    background-color: #DEF0FC;
    padding: 4px 0px 4px 46px;
    border-radius: 30px;
    width: 90%;
    font-size: 0.73em;
    font-weight: 500;
    color: #64BEFF;
    cursor: pointer;
}
.line h4::after {
    content: "\27F6";
}
.connect {
    font-size: 2.3em;
    color: #102A43;
    font-weight: 700;
    text-align: center;
    line-height: 1.1em;
}
.connect span {
    color: #64BEFF;
}
.des p {
    color: #647D96;
    text-align: center;
    font-size: 1em;
    margin-bottom: 1.8em;
}
a .mobile {
    display: block;
    width: 120px;
    margin: 1em auto;
    border-radius: 7px;
    transition: 0.5s;
}
a .mobile:hover {
    transform: scale(1.1);
}
.hero {
    background: #FDFEFF url("images/Mobile-App-Hero-BG-2.webp") no-repeat center;
    background-size: contain;
}
div .hero {
    width: 100%;
}
.flex-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to bottom, #FFFDFA, #FEFDFC);
    padding: 1.4em;
    padding-top: 5em;
}
.heading {
    font-size: 1.72em;
    color: #102A43;
    font-weight: 700;
    line-height: 1.1em;
}
.heading span {
    color: #64BEFF;
}
.des1 p {
    color: #647D96;
    font-size: 1em;
    padding: 1.4em 0em;
}
.button button{
    text-align: center;
    color: #ffffff;
    background-color: #64BEFF;
    border: 0;
    padding: 0.9em 2em;
    border-radius: 30px;
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 1em;
}
.flex-tag{
    background: #FDFEFF url("images/Mobile-App-Revolutionize-BG.webp") no-repeat center;
    background-size: contain;
    margin-top: 1.4em;
}

#img1 {
    width: 50%;
    position: relative;
    top: -150px;
    left: -8px; 
}
#img2 {
    width: 82%;
    position: relative;
    top: 20px;
    left: 40px;
}
.section4 {
    flex-direction: column-reverse;
}
.des1 {
    font-size: 0.9em;
}
.list li {
    font-weight: 600;
    font-size: 0.99em;
    color: #333;
    list-style: none;
    padding-bottom: 1.2em;
}
.list li::before {
    content: "\2713";
    color: #079EEB;
    background-color: #EFF8FF;
    padding: 0.2em 0.4em;
    margin-right: 0.5em;
    border-radius: 50%; 
}
.flex-tag1 {
    background: #FDFEFF url("images/Mobile-App-Connections-BG.webp") no-repeat top left;
    background-size: contain;
    margin-top: 2em;
  }
#img3 {
    width: 55%;
    position: relative;
    bottom: 150px;
    left: 5px;
    border-radius: 1em;
}
#img4 {
    width: 52%;
    position: relative;
    left: 100px;
}
.section5 {
    background: linear-gradient(to bottom, #FFFDF9, #FEFEFD);
    position: relative;
    flex-direction: column;
}
.flex-tag2 {
    background: #FDFEFF url("images/Mobile-App-High-Quality-BG.webp") no-repeat top;
    background-size: contain;
    margin-top: 2em;
  }
#img5 {
    width: 53%;
    position: relative;
    left: 100px;
    top: 20px;
}
#img6 {
    width: 50%;
    position: relative;
    top: -180px;
    left: 10px;
    border-radius: 1em;
}
.design {
    display: flex;
    flex-direction: column;
    gap: 2.2em;
    width: 100%;
}
.card {
    width: 85%;
    height: auto;
    padding: 2.5em 1.5em 0em 1.5em;
    margin-left: 1.6em;
    border-radius: 1em;
    box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
}
.card-img img{
    width: 50%;
}
.header {
    font-size: 1.2em;
    color: #102A43;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 1em;
}
.dess p {
    font-size: 0.9em;
}
.card-img #call {
    position: relative;
    top: 0.4em;
    width: 86%;
}
.c-center {
    margin-top: -8em;
    padding-top: 4em;
    background: linear-gradient(#EFF8FF, #031034, #FEFEFE);
    width: 100%;
    z-index: 10;
}
.heading2 {
    text-align: center;
}
.big {
    color: #ffffff;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
}
.card1 {
    width: 80%;
    height: 18em;
    padding: 20px 30px 20px 20px;
    border-radius: 1em;
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: left;
    margin: -1em 0em 0em 2em;
}
.card1 img {
    border-radius: 50%;
    width: 48px;
    margin-bottom: 1.8em;
}
.header1 {
    font-size: 1em;
}
.c1 {
    border-top: 1px solid #F3AF39;
}
.c2 {
    border-top: 1px solid #00D9FF;
}
.c3 {
    border-top: 1px solid #FF5600;
}
.d1 p{
    text-align: left;
}
.att {
    background-color: #FEFDF9;
}
.image-tag img {
    border-radius: 50%;
    width: 45px;
}
.con {
    text-align: left;
    padding: 3em 0.8em 2em;
}
.title p {
    margin-top: -0.9em;
    margin-bottom: 1.2em;
    color: #647D96;
    font-size: 0.8em;
}
.tag {
    width: 85%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    left: -5px;
}
.another {
    width: 100%;
    flex-direction: column-reverse;
    background-color: #FEFDF9;
}

.flex-tag3 {
    background: #FDFEFF url("images/Mobile-App-Hero-BG-2.webp") no-repeat center;
    background-size: contain;
    margin-top: 1.4em;
}
.img-size img{
    width: 100%;
}
.ending {
    font-size: 1.72em;
    font-weight: 600;
}
.des2 {
    font-size: 1em;
}
a .mobile1 {
    width: 125px;
    margin: 0.4em 0em;
    border-radius: 7px;
    margin-right: 1em;
    transition: 0.5s;
}
a .mobile1:hover {
    transform: scale(1.1);
}
footer {
    background: linear-gradient(to top, #020F32, #020F32);
}
.footer {
    padding: 30px;
    width: 100%;
}
.head {
    width: 250px;
    height: auto;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
tr {
    font-size: 0.9em;
}
tr, td {
    text-align: center;
}
.esp {
    margin-right: 100px;
}
.double-row {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
table {
    line-height: 2.6em;
}
thead img {
    width: 130px;
    margin-bottom: 1.5em;
}
#des {
    line-height: 1.3em;
    color: #ffffff;
    font-weight: 500;
}
thead {
    font-weight: 500;
    color: #ffffff;
}
thead td:hover {
    color: #ffffff;
}
tbody {
    color: #C0CEE7;
    font-weight: 400;
}
td {
    display: flex;
    flex-direction: row;
}
td:hover{
    color: #64BEFF;
}
.remark {
    color: #848A9C;
    margin: 0;
    padding: 0 1.8em;
    font-size: 0.8em;
    font-weight: 500;
    padding-bottom: 2em;
    text-align: center;
} 
.remark span a{
    color: #64BEFF;
    text-decoration: none;
}

/* Tablet View */
@media only screen and (min-width: 768px) {
    .nav {
        display: inline-flex;
    }
    .navbar {
        display: flex;
    }
    .navbar-list li{
        display: inline-flex;
        padding-left: 0.6em;
    }
    .navbar-list li a, .login a, .right-nav a{
        list-style: none;
        text-decoration: none;
        color: #30414F;
        font-weight: 500;
        text-align: center;
    } 
    .navbar-list li a:hover, .login a:hover{
        color: #64BEFF;
    }
    .login, .right-nav {
        display: flex;
    }
    .login a {
        font-size: 1em;
        font-weight: 500;
    
    }
    .right-nav a span:hover{
        background-color: #079EEB; 
    }
    .right-nav a:hover{
        color: #ffffff;
    }
    
    .right-nav a span{
        text-align: center;
        background-color: #ffffff;
        padding: 0.55em 1em;
        border-radius: 30px;
        font-size: 1em;
        font-weight: 600;
        margin-left: 0.6em;
    }
    .menu {
        display: none;
    }  
    .center {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .line h4 {
        padding: 6px 14px 6px 14px;
        text-align: left;
        width: 100%;
    }
}

/* Destop View */
@media only screen and (min-width: 1024px) {
    /* NAVBAR */
    .logo img {
        transform: scale(1.2);
    }
    .nav {
        display: inline-flex;
    }
    .navbar {
        display: flex;
    }
    .navbar-list li{
        display: inline-flex;
        padding-left: 1.8em;
    }
    .navbar-list li a, .login a, .right-nav a{
        list-style: none;
        text-decoration: none;
        color: #30414F;
        font-weight: 500;
        text-align: center;
    } 
    .navbar-list li a:hover, .login a:hover{
        color: #64BEFF;
    }
    .login, .right-nav {
        display: flex;
    }
    .login a {
        font-size: 1.2em;
        font-weight: 500;
    
    }
    .right-nav a span:hover{
        background-color: #079EEB; 
    }
    .right-nav a:hover{
        color: #ffffff;
    }
    
    .right-nav a span{
        text-align: center;
        background-color: #ffffff;
        padding: 0.65em 1.9em;
        border-radius: 30px;
        font-size: 1.2em;
        font-weight: 600;
        margin-left: 1.4em;
    }
    .menu {
        display: none;
    }  
    
    /* BODY */
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3em;
        background: url("images/Mobile-App-Hero-BG.webp") no-repeat center; 
        background-size: 100%;
    }
    .full {
        display: flex;
    }
    .line {
        display: none;
    }
    .full h4{
        background-color: #F0F9FF;
        padding: 6px 16px 6px 5px;
        border-radius: 30px;
        font-size: 0.9em;
        font-weight: 500;
        color: #64BEFF;
        cursor: pointer;
    }
    .full h4::after {
        content: "\27F6";
      }
    .full span {
        background-color: #079EEB;
        padding: 3px 12px;
        border-radius: 30px;
        color: #ffffff;
        margin-right: 0.7em;
    }
    .connect {
        font-size: 4.2em;
        font-weight: 700;
        margin: 0 3em;
    }
    .des p {
        font-size: 1.2em;
    }
    a .mobile {
        display: inline-flex;
        width: 160px;
        margin: -2em 0.6em;
        border-radius: 7px;
        transition: 0.5s;
    }
    .hero {
        background: linear-gradient(to bottom, #F0F9FF, #FDFEFF);
        width: 100%;
    }
    div .hero {
        width: 56%;
        display: flex;
        margin: 0 auto;
        background:  url("images/Mobile-App-Hero-BG-2.webp") no-repeat center;
        background-size: contain;
    }
    .flex-section {
        display: flex;
        flex-direction: row;
        gap: 8em;
        align-items: center;
        justify-content: center;
        padding: 5.4em;
        background: linear-gradient(to bottom, #FFFDFA, #FEFDFC);
    }
    .heading {
        font-size: 3.4em;
        font-weight: 700;
        line-height: 1.1em;
    }
    .des1 p {
        font-size: 1.2em;
    }
    .button button{
        padding: 0.9em 2.2em;
        border-radius: 30px;
        font-size: 1em;
        font-weight: 600;
    }
    #img1 {
        top: -265px;
        left: -60px; 
    }
    #img2 {
        top: 30px;
        left: 58px;
    }
    #img3 {
        width: 70%;
        position: relative;
        bottom: 290px;
        left: -16px;
        border-radius: 1em;
    }
    #img4 {
        width: 58%;
        position: relative;
        top: 30px;
        left: 150px;
    }
    .list li {
        font-weight: 600;
        font-size: 1.1em;
        line-height: 1.8em;
    }
    .list li::before {
        padding: 0.3em 0.6em;
        margin-right: 1.2em;
    }
    .section5 {
        margin-top: -12em;
        margin-bottom: -16em;
    }
    .virtual {
        margin-top: -20em;
    }
    #img5 {
        width: 60%;
        position: relative;
        left: 160px;
        top: -30px;
    }
    #img6 {
        width: 65%;
        position: relative;
        top: -500px;
        left: -100px;
        border-radius: 1em;
    }
    .design {
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin: 3em;
    }
    .card {
        width: 36em;
        height: 30em;
        padding: 30px 16px 0px 16px;
    }
    .card-img img{
        width: 72%;
    }
    .header {
        font-size: 1.4em;
        margin-bottom: 1em;
        text-align: center;
    }
    .dess p {
        font-size: 1em;
    }
    .card-img #call {
        position: relative;
        top: 0.9em;
        width: 85%;
    }
    .design {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0em;
        padding: 0;
        margin: 0;
    }
    .card1 {
        width: 20em;
        height: 20em;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }
    .card1:hover {
        transform: scale(1.3)
    }
    .d1 p{
        text-align: left;
    }
    .left header{
        text-align: left;
    }
    .att {
        width: 100%;
        margin-top: -3em;
        background: linear-gradient(to bottom, #FFFDF9, #FFFFFF);
    }
    .image-tag img {
        border-radius: 50%;
        width: 50px;
    }
    .tag {
        width: 24em;
        height: 16em;
    }
    .another {
        background-color: #FEFDF9;
    }
    .header1 {
        text-align: left;
        font-size: 1em;
        margin-top: -1.2em;
    }
    .ending {
        font-size: 3.2em;
        font-weight: 600;
    }
    a .mobile1 {
        width: 160px;
        margin: 1.2em 0em;
        margin-right: 1em;
    }

    /* FOOTER */
    .footer {
        display: flex;
        gap: 6em;
        padding: 60px;
    }
    .esp {
        margin: -6em 0em 0em -1em;
    }
    .double-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 4.6em;
        line-height: 2.6em;
        margin-top: 2em;
        padding-left: 3em;
    }
    thead img {
        width: 120px;
        margin-bottom: 1.5em;
    }
    #des {
        line-height: 1.5em;
        font-size: 1.1em;
        font-weight: 500;
    }
    thead {
        font-size: 1em;
        font-weight: 700;
    }
    td {
        font-size: 1.1em;
        font-weight: 500;
    }
    .remark {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        padding-bottom: 2em;
    } 
    .remark span a:hover {
        color: #079EEB;
    }
}
